# macOS
.DS_Store
._*

# Xcode
build/
DerivedData/
*.xcuserdata
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.xcresult

# Claude
.claude/settings.local.json